<ng-container *ngIf="productslist">
  <h5>
    {{ (productslist | filterProducts : this.filter).length }}
    تا محصول
    {{ filter.title ? " برای واژه: " + '"' + filter.title + '"' : "" }}
    {{ filter.category ? " در " + filter.category + " ها " : "" }}
    {{ filter.price < 1000 ? " تا " + filter.price + " تومان " : "" }}
    یافت شد :
  </h5>
  <h6>
    از فیلتر های زیر برای پیدا کردن سریع تر محصول مورد نظر می توانید کمک بگیرید
  </h6>
  <div [ngStyle]="{ 'height': '420px', 'overflow-y': 'scroll' }">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">نام کالا</th>
          <th scope="col">تصویر کالا</th>
          <th scope="col">دسته</th>
          <th scope="col">قیمت واحد</th>
          <th scope="col">تاریخ انقضاء</th>
          <th scope="col">حذف</th>
          <th scope="col">اضافه</th>
          <th scope="col">صفحه</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="align-middle" scope="row">ID</th>
          <th class="align-middle" scope="row">
            <input
              class="form-control text-info text-center p-1"
              [ngStyle]="{ 'max-width': '5rem' }"
              [placeholder]="titlePlaceholder"
              [(ngModel)]="filter.title"
              type="text"
            />
          </th>
          <th class="align-middle" scope="row"></th>
          <th class="align-middle" scope="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                ></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="filter.category = ''" ngbDropdownItem>
                    همه
                  </button>
                  <button (click)="filter.category = 'میوه'" ngbDropdownItem>
                    میوه
                  </button>
                  <button (click)="filter.category = 'صیفی'" ngbDropdownItem>
                    صیفی
                  </button>
                  <button
                    (click)="filter.category = 'سبزی'"
                    disabled
                    ngbDropdownItem
                  >
                    سبزی
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th class="align-middle" scope="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                ></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <!-- <input
                    class="form-control text-info m-auto text-center p-1"
                    [ngStyle]="{ 'max-width': '4rem' }"
                    [placeholder]="pricePlaceholder"
                    [(ngModel)]="filter.price"
                    type="string"
                  /> -->
                  <button (click)="filter.price = 1000" ngbDropdownItem>
                    همه
                  </button>
                  <button (click)="filter.price = 800" ngbDropdownItem>
                    تا 800 تومان
                  </button>
                  <button (click)="filter.price = 650" ngbDropdownItem>
                    تا 650 تومان
                  </button>
                  <button (click)="filter.price = 500" ngbDropdownItem>
                    تا 500 تومان
                  </button>
                  <button (click)="filter.price = 650" ngbDropdownItem>
                    تا 650 تومان
                  </button>
                  <button (click)="filter.price = 420" ngbDropdownItem>
                    تا 420 تومان
                  </button>
                  <button (click)="filter.price = 200" ngbDropdownItem>
                    تا 200 تومان
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th class="align-middle" scope="row"></th>
          <th class="align-middle" scope="row">
            <button (click)="removeAllFilters()" class="btn btn-danger">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <line
                  x1="18"
                  y1="6"
                  x2="6"
                  y2="18"
                  stroke="#fff"
                  stroke-width="2"
                />
                <line
                  x1="6"
                  y1="6"
                  x2="18"
                  y2="18"
                  stroke="#fff"
                  stroke-width="2"
                />
              </svg>
            </button>
          </th>
          <th class="align-middle" scope="row"></th>
          <th class="align-middle" scope="row"></th>
        </tr>
        <ng-container
          *ngFor="let item of productslist | filterProducts : this.filter"
        >
          <tr>
            <th class="align-middle" scope="row">{{ item.id }}</th>
            <td class="align-middle">{{ item.title }}</td>
            <td class="align-middle">
              <img
                [src]="'assets/img/' + item.id + '.jpg'"
                [ngStyle]="{ width: '4rem' }"
                class="card-img-top rounded"
                alt="product"
              />
            </td>
            <td class="align-middle">{{ item.category }}</td>
            <td class="align-middle">{{ item.price }}</td>

            <td class="align-middle">{{ item.expireDate | persianDate }}</td>
            <td class="align-middle">
              <button class="btn btn-danger">حذف</button>
            </td>
            <td class="align-middle">
              <button
                [routerLink]="[item.id]"
                routerLinkActive="router-link-active"
                class="btn btn-primary"
              >
                ویرایش
              </button>
            </td>
            <td class="align-middle">
              <button class="btn btn-success">صفحه</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
