<div class="sticky-top py-1">
  <div>
    <div class="border rounded p-1 m-1 bg-light">
      <h5
        [ngStyle]="{ cursor: 'pointer' }"
        class="px-2 py-1 m-100"
        (click)="titleIsCollapsed = !titleIsCollapsed"
        [attr.aria-expanded]="!titleIsCollapsed"
        aria-controls="collapseExample"
      >
        نام
      </h5>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="titleIsCollapsed">
        <input
          (ngModelChange)="onFilterChange()"
          [placeholder]="inputSearchLabel"
          [(ngModel)]="filter.title"
          class="form-control text-info text-center p-2 fs-4"
        />
      </div>
    </div>
    <div class="border rounded p-1 m-1 bg-light">
      <h5
        [ngStyle]="{ cursor: 'pointer' }"
        class="px-2 py-1 m-100"
        (click)="priceIsCollapsed = !priceIsCollapsed"
        [attr.aria-expanded]="!priceIsCollapsed"
        aria-controls="collapseExample"
      >
        قیمت
      </h5>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="priceIsCollapsed">
        <input
          type="range"
          [value]="filter.price"
          (ngModelChange)="onFilterChange()"
          [(ngModel)]="filter.price"
          class="form-range text-info text-center fs-4"
          min="10"
          max="1000"
        />
        <label
          for="customRange3"
          class="text-primary mx-4 w-100 form-label fs-5"
          >تا {{ filter.price }} تومان</label
        >
      </div>
    </div>
    <div class="border rounded p-1 m-1 bg-light">
      <h5
        [ngStyle]="{ cursor: 'pointer' }"
        class="px-2 py-1 m-100"
        (click)="categoryIsCollapsed = !categoryIsCollapsed"
        [attr.aria-expanded]="!categoryIsCollapsed"
        aria-controls="collapseExample"
      >
        دسته بندی
      </h5>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="categoryIsCollapsed">
        <!-- <input
          (ngModelChange)="onFilterChange()"
          [(ngModel)]="filter.category"
          class="form-control text-info text-center fs-4"
        /> -->
        <div class="col mx-4 my-1">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              انواع دسته بندی ها
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="onCategoryChange('')" ngbDropdownItem>
                همه
              </button>
              <button (click)="onCategoryChange('میوه')" ngbDropdownItem>
                میوه ها
              </button>
              <button ngbDropdownItem (click)="onCategoryChange('صیفی')">
                صیفی جات
              </button>
              <button
                disabled
                ngbDropdownItem
                (click)="onCategoryChange('سبزی')"
              >
                سبزی جات
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border rounded p-1 m-1 bg-light">
      <h5
        [ngStyle]="{ cursor: 'pointer' }"
        class="px-2 py-1 m-100"
        (click)="expireDateIsCollapsed = !expireDateIsCollapsed"
        [attr.aria-expanded]="!expireDateIsCollapsed"
        aria-controls="collapseExample"
      >
        تاریخ انقضاء
      </h5>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="expireDateIsCollapsed">
        <input
          (ngModelChange)="onFilterChange()"
          [(ngModel)]="filter.expireDate"
          class="form-control text-info text-center fs-4"
        />
      </div>
    </div>
  </div>
</div>
