<div [ngClass]="{ direction: 'ltr' }">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li routerLinkActive="router-link-active" class="breadcrumb-item px-2">
        <p>شما اینجا هستید :</p>
      </li>
      <li routerLinkActive="router-link-active" class="breadcrumb-item">
        <a [routerLink]="['main']">dashboard</a>
      </li>
      <ng-container *ngFor="let item of fullUrl">
        <li routerLinkActive="router-link-active" class="breadcrumb-item">
          <a [routerLink]="[item]">{{ item }}</a>
        </li>
      </ng-container>
    </ol>
  </nav>
</div>
