<div class="container">
  <!-- <p class="display-6">محصولات ما</p> -->

  <div class="d-flex justify-content-between">
    <div class="col-md-8 ">
      <input
        [(ngModel)]="filter.title"
        [placeholder]="inputSearchLabel"
        type="text"
        class="form-control h-100 text-center fs-4"
        aria-label="Large"
        aria-describedby="inputGroup-sizing-sm"
      />
    </div>

    <div class="d-flex flex-column text-center col-md-3">
      <label for="customRange3" class="form-label fs-4">قیمت</label>
      <input
      [(ngModel)]="filter.price"
        type="range"
        class="form-range"
        [value]="filter.price"
        min="10"
        max="1000"
        step="10"
        id="customRange3"
      />
    </div>
  </div>

  <!-- <p>
    میوه ها {{ selectedProduct.title ? " . " + selectedProduct.title : null }}
  </p> -->
  <div class="row mt-4">
    <ng-container *ngIf="(productList | filterProducts: filter).length > 0; else notFound">
      <div class="col-md-3 col-sm-6" *ngFor="let item of productList | filterProducts: filter">
        <app-product (onProductSelect)="selectProduct($event)" [product]="item"></app-product>
      </div>
    </ng-container>
    <ng-template #notFound>
      <div class="col text-center p-4 m-4">
        <h3 class="text-danger">محصولی متاسفانه یافت نشد :(</h3>
      </div>
    </ng-template>
  </div>
  
</div>
