<div class="p-1 bg-light">
  <ul class="nav flex-column px-2 m-1">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"> داشبورد </a>
    </li>
    <hr />
    <li>
      <a class="nav-link link-dark"> لیست محصولات </a>
    </li>
    <li>
      <a class="nav-link link-dark"> لیست سفارشات </a>
    </li>
    <li>
      <a class="nav-link link-dark"> لیست مشتریان </a>
    </li>
    <li>
      <a class="nav-link link-dark"> تنظیمات کنترل پنل </a>
    </li>
    <hr />
    <li>
      <a class="nav-link link-dark"> پروفایل شخصی </a>
    </li>
    <li>
      <a class="nav-link link-dark"> محصول جدید </a>
    </li>
    <li>
      <a class="nav-link link-dark"> تنظیم پوسته </a>
    </li>
    <hr/>
    <li>
        <a class="nav-link link-dark"> خروج </a>
      </li>
  </ul>
</div>
