<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">تصویر کالا</th>
        <th scope="col">نام کالا</th>
        <th scope="col">قیمت واحد</th>
        <th scope="col">مقدار</th>
        <!-- <th scope="col">تاریخ انقضاء</th> -->
        <th scope="col">حذف</th>
        <th scope="col">اضافه</th>
        <th scope="col">صفحه ی کالا</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of selectedProductList">
        <tr>
          <th class="align-middle" scope="row">{{ item.id }}</th>
          <td class="align-middle">{{ item.title }}</td>
          <td class="align-middle">
            <img
              [src]="'assets/img/' + item.id + '.jpg'"
              [ngStyle]="{ width: '5rem' }"
              class="card-img-top rounded"
              alt="product"
            />
          </td>
          <td class="align-middle">{{ item.price }}</td>
          <td class="align-middle">-</td>
          <!-- <td class="align-middle">{{ item.expireDate }}</td> -->
          <td class="align-middle">
            <button class="btn btn-danger">حذف</button>
          </td>
          <td class="align-middle">
            <button class="btn btn-primary">اضافه</button>
          </td>
          <td class="align-middle">
            <button (click)="selectProductPage(item)" class="btn btn-success">
              مشخصات محصول
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
