<div class="border bg-white my-1 textdarke d-flex rounded">
  <div class="m-2 p-2">
    <h6>نتایج یافت شده:</h6>
  </div>
  <ng-container *ngIf="filterApplied.title">
    <div class="border rounded d-flex p-1 align-items-center px-2 my-1 mx-2">
      <h6>
        {{ filterApplied.title }}
      </h6>
      <button
        type="button"
        class="close mx-1 bg-white text-dark border-0"
        aria-label="Close"
        (click)="removeTitle()"
      >
        <span aria-hidden="true" class="" [ngStyle]="{ 'font-size': '1.4rem' }"
          >&times;</span
        >
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="filterApplied.price < 1000">
    <div class="border rounded d-flex p-1 px-2 align-items-center my-1 mx-2">
      <h6>تا {{ filterApplied.price }} تومان</h6>
      <button
        type="button"
        class="close mx-1 bg-white text-dark border-0"
        aria-label="Close"
        (click)="removePrice()"
      >
        <span aria-hidden="true" class="" [ngStyle]="{ 'font-size': '1.4rem' }"
          >&times;</span
        >
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="filterApplied.category">
    <div class="border rounded d-flex p-1 px-2 align-items-center my-1 mx-2">
      <h6>
        در
        {{ filterApplied.category }}
        ها
      </h6>
      <button
        type="button"
        class="close mx-1 bg-white text-dark border-0"
        aria-label="Close"
        (click)="removeCategory()"
      >
        <span aria-hidden="true" class="" [ngStyle]="{ 'font-size': '1.4rem' }"
          >&times;</span
        >
      </button>
    </div>
  </ng-container>
  <ng-container
    *ngIf="removeAllFlag()"
  >
    <button
      (click)="removeAll()"
      class="border rounded bg-danger text-white d-flex align-items-center my-1 mx-2"
    >
      حذف فیلتر ها -
    </button>
  </ng-container>
</div>
