<div class="border d-flex rounded p-1 my-2">
  <div class="p-1 my-2">
    <h4>نتایج یافت شده:</h4>
  </div>
  <ng-container *ngIf="filterApplied.title">
    <div class="border rounded d-flex p-1 px-2 my-2 mx-2">
      <h4>
        {{ filterApplied.title }}
      </h4>
      <button
        type="button"
        class="close mx-1 bg-white border-0 "
        aria-label="Close"
        (click)="excuteTitle()"
      >
        <span aria-hidden="true" class="" [ngStyle]="{'font-size': '1.4rem' }">&times;</span>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="filterApplied.price < 1000">
    <div class="border rounded d-flex p-1 px-2 my-2 mx-2">
      <h4>تا {{ filterApplied.price }} تومان</h4>
      <button
        type="button"
        class="close mx-1 bg-white border-0 "
        aria-label="Close"
        (click)="excutePrice()"
      >
        <span aria-hidden="true" class="" [ngStyle]="{'font-size': '1.4rem' }">&times;</span>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="filterApplied.category">
    <div class="border rounded d-flex p-1 px-2 my-2 mx-2">
      <h4>در
        {{ filterApplied.category }}
        ها
      </h4>
      <button
        type="button"
        class="close mx-1 bg-white border-0 "
        aria-label="Close"
        (click)="excuteCategory()"
      >
        <span aria-hidden="true" class="" [ngStyle]="{'font-size': '1.4rem' }">&times;</span>
      </button>
    </div>
  </ng-container>
</div>
