<section class="jumbotron d-flex justify-content-around ">
  <div class="col-md-4 d-flex ">
    <img src="assets/img/us.jpg" class="card-img-top rounded" alt="product" />
  </div>
  <div class="container mw-33">
    <h1 class="display-4">به</h1>
    <h1 class="display-4"> میوه فروشی </h1>
    <h1 class="display-4 text-success">جردن</h1>
    <h1 class="display-4">خوش اومدی</h1>

    <p class="lead  mt-5">
      ما اینجا بهترین کیفیت میوه و انواع ویتامینه ها رو ارائه میدیم
    </p>

    <a [routerLink]="['/products']" class="btn btn-success btn-lg">دیدن محصولات</a>
  </div>
</section>
