<div class="d-flex justify-content-between">
  <div class="col-md-4">
    <div class="col-md-12">
      <img
        [src]="'assets/img/' + this.product.id + '.jpg'"
        class="card-img-top rounded"
        alt="product"
      />
    </div>
    <div class="card-body text-center">
      <h3 class="card-title">{{ product.title }}</h3>
      <p class="card-text">{{ product.price }} تومان</p>
      <P [ngStyle]="{ 'font-size': '1.2rem' }">
        انقضاء :
        <span [ngStyle]="{ 'font-size': '1.2rem', color: 'blue' }">{{
          product.expireDate | persianDate
        }}</span></P
      >

      <button href="" class="btn btn-success"  (click)="selectProduct(product.id)" >اضافه به سبد خرید</button>
      <button (click)="goToCheckOut()" href="" class="btn btn-primary">سبد خرید</button>
    </div>
  </div>
  <div class="p-4 m-4">
    <h2 class="my-4">خواص این میوه ..</h2>
    <p >
      امروزه، تغییر سبک زندگی و ورود غذاهای مضر به سبد غذایی افراد، باعث بروز مشکلاتی از قبیل کمبود ویتامین شده است. وجود ویتامین‌ها و مواد مغذی فراوان در میوه‌های تازه، یکی از دلایل محبوبیت آن‌ها در میان افراد است. از جمله خواص انواع میوه‌ها می‌توان به سلامت قلب، کنترل قند خون، کمک به زیبایی پوست، کنترل اشتها، تقویت سیستم ایمنی بدن، بهبود عملکرد روده، پیشگیری از انواع سرطان، سلامت دهان و دندان، کاهش وزن و تامین آب بدن اشاره کرد. میوه‌ها دارای مقدار زیادی آنتی اکسیدان، ویتامین A، قند طبیعی، فیبر و مواد مغذی بوده که به بهبود عملکرد بدن کمک بسیاری می‌‌کنند.
    </p>
  </div>
</div>
